
<!DOCTYPE html>
<html>
<head>
	<title>sch0718.github.io</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/images/favicon.png" />
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" th:href="@{/webjars/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css}" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" th:href="@{/webjars/bootstrap-select/1.10.0/dist/css/bootstrap-select.min.css}" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" th:href="@{/webjars/bootstrap-datepicker/1.6.4/dist/css/bootstrap-datepicker3.min.css}" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/css/jquery.fileupload.css" th:href="@{/webjars/jquery-file-upload/9.12.5/css/jquery.fileupload.css}" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/css/jquery.fileupload.css" th:href="@{/webjars/jquery-file-upload/9.12.5/css/jquery.fileupload-ui.css}" />
<link type="text/css" rel="stylesheet" href="/css/commons.css" th:href="@{/css/commons.css}" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js" th:src="@{/webjars/bootstrap-validator/0.10.2/dist/validator.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" th:src="@{/webjars/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js" th:src="@{/webjars/bootstrap-select/1.10.0/dist/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" th:src="@{/webjars/bootstrap-datepicker/1.6.4/dist/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ko.min.js" th:src="@{/webjars/bootstrap-datepicker/1.6.4/dist/locales/bootstrap-datepicker.ko.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/vendor/jquery.ui.widget.min.js" th:src="@{/webjars/jquery-file-upload/9.12.5/js/vendor/jquery.ui.widget.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.iframe-transport.min.js" th:src="@{/webjars/jquery-file-upload/9.12.5/js/jquery.iframe-transport.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload.min.js" th:src="@{/webjars/jquery-file-upload/9.12.5/js/jquery.fileupload.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" th:src="@{/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/log4javascript/1.4.9/log4javascript.min.js" th:src="@{/webjars/log4javascript/1.4.13/js/log4javascript.js}"></script>
<script type="text/javascript" src="/js/commons.js" th:src="@{/js/commons.js}"></script>
<style type="text/css">
</style>
<script type="text/javascript">
	// <![CDATA[
	var log = log4javascript.getLogger();
	var appender = new log4javascript.BrowserConsoleAppender();
	var layout = new log4javascript.PatternLayout("%d{HH:mm:ss} %-5p - %m%n");
	
	appender.setLayout(layout);
	log.addAppender(appender);

	$(document).ready(function() {
	});
	// ]]>
</script>
	<link type="text/css" rel="stylesheet" href="/css/front.css" />
	<script type="text/javascript" src="/js/front.js"></script>
	<style type="text/css">
html, body {
	height: 100%;
}
body {
	display: table;
	width: 100%;
}
.catchphrase {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	font-family: Copperplate Gothic Light;
}
</style>
	<script type="text/javascript">
	// <![CDATA[
	$(document).ready(function() {
		$(".catchphrase").tick();
	});
	// ]]>
</script>
</head>
<body class="index">
	<!-- [[ START ]] GNB 영역 -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo" href="/codepost-core-web/">
						code post
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/codepost-core-web/">Home</a>
						</li>
						
							
		<li>
			<a href="/codepost-core-web/bbs/notice/list">공지사항</a>
			
		</li>
		<li class="dropdown">
			
			
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					examples <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					
		<li>
			<a href="/codepost-core-web/examples/checkbox">체크박스</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/serializeJson">serializeJson</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/tree">트리</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/tabPanel">탭 패널</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/limitedTextarea">Limited Textarea</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/modallayer">Modal Layer Popup</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/waiting">Wating Back Drop</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/tick">Tciker</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/rating">별점</a>
			
		</li>
		<li>
			<a href="/codepost-core-web/examples/dependency">Dependency</a>
			
		</li>
	
				</ul>
			
		</li>
	
						
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- [[  END  ]] GNB 영역 -->

	<!-- [[ START ]] Content 영역 -->
	<div id="contentArea" class="index">
		<div class="container text-center">
			<img src="/images/logo_w.png;jsessionid=67B9A5A80A3F5A0C19C2F722CAED3F56" />
			<div class="catchphrase">IMAGINE &amp; CREATE</div>
		</div>
	</div>
	<!-- [[  END  ]] Content 영역 -->

	<!-- [[ START ]] Footer 영역 -->
	<footer>
		<p>code post</p>
	</footer>
	<!-- [[  END  ]] Footer 영역 -->
	
	<!-- [[ START ]] Custom 영역 -->
	<div id="customArea"></div>
	<!-- [[  END  ]] Custom 영역 -->
	
	<!-- [[ START ]] Login Form 영역 -->
	<div id="loginContainer"></div>
	<!-- [[  END  ]] Login Form 영역 -->
	
	<!-- [[ START ]] Scroll Up -->
	<div class="scroll-top-wrapper">
		<span class="scroll-top-inner">
			<i class="glyphicon glyphicon-arrow-up"></i>
		</span>
	</div>
	<!-- [[  END  ]] Scroll Up -->
</body>
</html>
